* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

#box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#canvas{
    /* zoom: 0.5; */
}

.form {
    width: 350px;
    margin-right: 150px;
    border-width:2px;
    border-style:solid;
    border-color:black;
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 10px;
    
}

.in {
    /* align:right; */
    display: flex;
    justify-content: space-between;
}

.in label {
    font-size: 25px;
}

.in input{
    font-size: 20px;
    border-radius: 5px;
    background-color: #f2f2f2;
    

}

.bin {
    /* align:right; */
    display: flex;
    justify-content: space-around;
}

.bin button {
    margin: 3px;
    padding: 3px 5px;
    background-color: burlywood;
    border-radius: 5px;
    color: white;
    font-size: large;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.bin button:hover {
    background-color: brown;
}


.form {
    align-items: center;
}




#h1 {
    position: absolute;
    bottom: 0;
    display: flex;
    /* justify-content: center; */
    width: 100vw;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
}

#h1 h1 {
    font-size: 50px;
}

#love{
    color: red;
}

.social-icons {
    list-style: none;
    padding: 0;
}

.social-icons li {

    display: inline;
    margin-right: 15px;
    /* Adjust the spacing between icons */
}


.fa-facebook{
    color: #3b5998;
}
.fa-twitter {
    color: #1DA1F2;
}

.fa-instagram {
    color: #C13584;
}

.fa-github{
    color: #333;
}
.fa-linkedin{
    color: #0e76a8;
}
footer{
    padding-top: 8px;
}

.info{
    background-color: #f2f2f2;
    /* Leave some space between color and border */
   
}
.line{
    border-bottom: 1px solid black;
    width :1px;
    height: 100vh;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 1;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
}